.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.landing-inner {
	height: 60%;
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.landing-inner p {
	font-size: 18px;
	max-width: 60%;
}

.landing-inner .buttons {
	margin-top: 1rem;
}